tests/
working_docs/
output/
*.log
*.aux
*.out
*.toc
*.gz
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex(busy)
*.blg
*.bbl
*.run.xml
*.nav
*.snm
node_modules/
venv/
.DS_Store
.vscode/

# Azure Functions
azure-functions/local.settings.json
azure-functions/__pycache__/
azure-functions/shared/__pycache__/
azure-functions/.python_packages/
azure-functions/.venv/
.funcignore
